@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-wrapper {
    overflow-x: scroll;
  }

  .article-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .article-square {
    width: 80vw;
    aspect-ratio: 1 / 1;
    background-color: orange;
  }
}
